<h2>Q1] Answer =></h2>
 
<p> The output is 40 and NaN ,
    diameter() is simple function and perimeter() is arrow function.<br>
    We can not use this keyword directly into arrow function because it does not contain its own this . 
  <br>  So when we use this keyword in the arrow function, it will return an undefined value.
  <br>And undefined multiply by any number return NaN.
</p>

<h2>Q2] Answer =></h2>

<p>Date DMY :{{dt|date:'d/M/y, h:mm:ss'}}</p>

<h2>Q3] Answer =></h2>

<input type="text" appAutoFocus>



<router-outlet></router-outlet>
